#virtual environment
venv/

#Flask
instance/*
!instance/.gitignore
.webassets-cache
*.sqlite

#Flask.Python Stack
#Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

#Excel files containing data
*.xlsx

#Key storage
.env

#Temp data file for formatting
data.py

#Testing
.pytest_cache/
.coverage
htmlcov/

#Build
dist/
build/
*.egg-info/

#Other File types
*.xlsx

#Ignore the captain's log
CaptainsLog.txt