body {
  background-color: rgb(192, 180, 180);
  width: 80%;
  flex: auto;
}

head {
  background-color: rgb(192, 180, 180);
}

.content {
  width: 80%;
  padding: 2%;
  flex: auto;
}
.content-header {
  width: 80%;
  padding-left: 2%;
  flex: auto;
}

.form-header {
  width: 80%;
  flex: auto;
  text-align: left;
  font-size: 24px;
}
