{% extends 'base.html' %} 
    {% block title %} Register {% endblock %} 
{% block body%}
<div class="content-centered">
    <h2>Register your wallet address</h2>
</div>

<div class="contrainer">
    <div class="row">
        <div class="column">
            <form method="post">
                <label for="walletaddress">Username</label>
                <input name="walletaddress" id="walletaddress" required />
                <input type="submit" value="Register" />
            </form>
        </div>
    </div>
</div>


{% endblock %}

    