body {
  margin: 0 auto;
  background-color: rgb(192, 180, 180);
}

head {
  background-color: rgb(192, 180, 180);
}

.content {
  width: 80%;
  padding: 2%;
  flex: auto;
}
.content-header {
  width: 80%;
  padding-left: 2%;
  flex: auto;
}

.content-centered {
  width: 80%;
  text-align: center;
}

.form-header {
  width: 80%;
  flex: auto;
  text-align: left;
  font-size: 24px;
}

.column {
  width: 49%; /* adjust the width as needed */
  padding: 20px;
  border: 1px solid #ccc;
}

.slidecontainer {
  padding: 10px;
}

.slider {
  width: 60%; /* Width of the outside container */
}

h1 {
  font-family: serif;
  color: #377ba8;
  margin: 1rem 0;
}
a {
  color: #377ba8;
}
hr {
  border: none;
  border-top: 1px solid lightgray;
}
nav {
  background: lightgray;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}
nav h1 {
  flex: auto;
  margin: 0;
}
nav h1 a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.content > header {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: flex-end;
}
.content > header h1 {
  flex: auto;
}
.flash {
  background: #cae6f6;
  border: 1px solid #377ba8;
}
.post > header {
  display: flex;
  align-items: flex-end;
  font-size: 0.85em;
}
.post > header > div:first-of-type {
  flex: auto;
}
.post > header h1 {
  font-size: 1.5em;
  margin-bottom: 0;
}
.post .about {
  color: slategray;
  font-style: italic;
}
.post .body {
  white-space: pre-line;
}
.content:last-child {
  margin-bottom: 0;
}
.content form {
  display: flex;
}
.content label {
  font-weight: bold;
}

input.danger {
  color: #cc2f2e;
}
input[type="submit"] {
  align-self: start;
}

header.login{
  text-align: right;
  min-width: 2em;
  width: 80%;
  padding: 6px;
  text-shadow: 2px;
}


.auth-link {
  color: #007bff; 
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 10px;
}

.auth-link:hover { 
  text-decoration: underline; 
}

span.authenticated {
  color: #007bff; 
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px;
}