{% extends 'base.html' %} 
  {% block title %} Ether Allocation {% endblock %} 
{%block body %}
<div class="content-centered">
  <h2>Welcome to the Ether allocation page!</h2>
</div>

<div class="container">
  <div class="row">
    <div class="column">
      <form action="/allocation" method="POST">
        <head>
          USD Allocation given an Eth price</head
        ><br /><br />
        <label for="MinimumPrice">Minimum Price:</label><br />
        <input
          type="number"
          placeholder="0"
          value="{{session.pMinimumPrice}}"
          id="MinimumPrice"
          name="fMinimumPrice"
          min="0"
          step="1"
          onclick="SelectAll('MinimumPrice');"
          required
        /><br />
        <label for="MaximumPrice">Maximum Price:</label><br />
        <input
          type="number"
          placeholder="12500"
          value="{{session.pMaximumPrice}}"
          id="MaximumPrice"
          name="fMaximumPrice"
          min="5000"
          step="1"
          onclick="SelectAll('MaximumPrice');"
          required
        /><br />
        <label for="UsdHoldings">USD Holdings (in dollars):</label><br />
        <input
          type="number"
          placeholder="1000"
          value="{{session.pUsdHoldings}}"
          id="UsdHoldings"
          name="fUsdHoldings"
          min="0"
          step=".01"
          onclick="SelectAll('UsdHoldings');"
          required
        /><br />
        <label for="stEthHoldings">stEth Holdings (in eth):</label><br />
        <input
          type="number"
          placeholder="10"
          value="{{session.pstEthHoldings}}"
          id="stEthHoldings"
          name="fstEthHoldings"
          min="0"
          step=".00000000001"
          onclick="SelectAll('stEthHoldings');"
          required
        /><br />
        <label for="rEthHoldings">rEth Holdings (in eth):</label><br />
        <input
          type="number"
          placeholder="10"
          value="{{session.prEthHoldings}}"
          id="rEthHoldings"
          name="frEthHoldings"
          min="0"
          step=".00000000000001"
          onclick="SelectAll('rEthHoldings');"
          required
        /><br />
        <label for="swEthHoldings">swEth Holdings (in eth):</label><br />
        <input
          type="number"
          placeholder="10"
          value="{{session.pswEthHoldings}}"
          id="swEthHoldings"
          name="fswEthHoldings"
          min="0"
          step=".000000000000001"
          onclick="SelectAll('swEthHoldings');"
          required
        /><br />
        <label for="EthHoldings">Eth Holdings (in eth):</label><br />
        <input
          type="number"
          placeholder="10"
          value="{{session.pEthHoldings}}"
          id="EthHoldings"
          name="fEthHoldings"
          min="0"
          step=".0000000000000001"
          onclick="SelectAll('EthHoldings');"
          required
        /><br/>
        <container class="slidecontainer">
          <input class="slider" type="range" min="1" max="13000" value="3000" id="myRange" name="myRange">
          <p class="slider">Theoretical Eth Price: <span id="theoreticalEthPrice"></span></p>
        </container>
        <input type="submit" value="submit" />
      </form>
    </div>
    <div class="column">
      {% if session.totalEthHoldingsInEth %}
      <h3>Total Eth: {{session.totalEthHoldingsInEth}}<h3>
      {% endif %}
      <br />
      {% if session.currentPerUsdAllocation and session.currentEthAllocation and session.desiredUsdAllocation and session.desiredUsdAllocation %}
      <h4>Current USD Allocation Percentage: {{session.currentPerUsdAllocation}}%</h4>
      <h4>Current ETH Allocation Percentage: {{session.currentEthAllocation}}%</h4>
      <h4>Desired USD Allocation Percentage: {{session.desiredUsdAllocation}}%</h4>
      <h4>Desired ETH Allocation Percentage: {{session.desiredEthAllocation}}%</h4>
        {% if session.currentPerUsdAllocation > session.desiredUsdAllocation %}
        <h4>Convert ${{session.transferAmount}} to Eth</h4>
        {% endif %}
        {% if session.currentPerUsdAllocation < session.desiredUsdAllocation %}
        <h4>Convert ${{session.transferAmount}} in ETH to USD</h4>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>
<script>
  var slider = document.getElementById("myRange");
  var output = document.getElementById("theoreticalEthPrice");
  output.innerHTML = slider.value;
  
  slider.oninput = function() {
    output.innerHTML = this.value;
  }

  function SelectAll(id)
  {
      document.getElementById(id).focus();
      document.getElementById(id).select();
  }

</script>

{% endblock %}
